.bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	background: rgba(0, 0, 0, 0.7);
}

.assess_pass {
	display: flex;
	justify-content:center;
	flex-direction: column;
	margin:30% auto;
	align-items: center;
}
.top{
	display: flex;
	justify-content:space-around;
	align-items: center;
}
.assess_pass_wb {
	font-weight: bold;
	font-size: 24px;
/*	margin-left:36%;*/
	text-align: center;
	margin-left: 82px;
	color: #02fcee;
}

.close_icon {
	width: 13px;
	height: 11px;
    padding-left:72px;
	margin-top: 10px;
}

.assess_pass_bg {
	width: 280px;;
	height: 295px;
	margin-top: 3px;
}

.pass_icon {
	width: 114px;
	height: 117px;
	margin-top: -240px;
}

.countdown_bonus{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 40px;
}
.countdown{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
.countdown text{
  width: 99px;
  text-align: center;
  font-size: 20px;
  color:#58dee7;
}