.task_bg {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 15px;
	width: 84%;
	height: 230px;
	margin:20px auto;
	border-radius:10px;
	padding:20px  15px;
	box-shadow: 0px 0px 24px #01ffff inset
}

.rules_remind {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.rules {
	width: 19px;
	height: 19px;
}

.remind {
	display: flex;
	width: 90px;
	height: 26px;
	background: #009aea;
	border-radius: 12px;
}

.remind img {
	width: 16px;
	height: 16px;
	margin-top: 5px;
	margin-left: 6px;
}

.remind text {
	font-size: 14px;
	color: #fff;
	margin: auto;
}

.task_name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #5df5ff;
	font-weight: bold;
	margin-top: 23px;
}

.countdown_bonus {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
}

.countdown {
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-between;
	align-items: center;
	/*justify-content: center;*/
	/*width: 140px;*/
}

.countdown_wb {
	font-size: 15px;
	color: #5df5ff;
	/*width: 100%;*/
	text-align: center;
}

.countdown_time {
	font-size: 24px;
	color: #03fff0;
	/*width: 100%;*/
	text-align: center;
	margin-top: 0px;
}

.line {
	width: 1px;
	height: 80px;
	background: #05687e;
}

.bonus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 180px;
}

.bonus_wb {
	font-size: 15px;
	width: 100%;
	color: #5df5ff;
	text-align: center;
}

.bonus_amount {
	font-size: 24px;
	color: #03fff0;
	width: 100%;
	text-align: center;
	margin-top: 15px;
}
.join_number{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.join_number img{
  width: 92%;
  height: 1px;
}
.join_number text{
  font-size: 18px;
  color:#5df5ff;
  margin-top: 15px;
  margin-bottom: 15px;
}
.ann {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.ann .containCircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 0px 12px #01ffff inset;
  margin: 15px;
  line-height: 15px;
  font-size: 14px;
  color: #03fff0;
}
.containCircle img{
  width: 30px;
  height: 30px;
}
.onlookers{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.onlookers img{
  width: 18px;
  height: 17px;
}
.onlookers text{
  font-size: 14px;
  color: #03fff0;
  margin-left: 7px;
}


.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
}

.assess_pass {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 26% auto;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.assess_pass_wb {
    font-weight: bold;
    font-size: 24px;
    /*	margin-left:36%;*/
    text-align: center;
    margin-left: 82px;
    color: #02fcee;

}

.close_icon {
    width: 13px;
    height: 11px;
    padding-left: 72px;
    margin-top: 10px;
}

.assess_pass_bg {
    width: 295px;
    height: 380px;
	overflow-y: auto;
    /*margin-top: 3px;*/
    background-image: url("/static/imgs/friends_bg.png");
    background-size: 100%;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 84%;
    /*margin-bottom: 15px;*/
    margin-left: 4%;
    border-radius: 6px;
    padding: 16px;
}

.item_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #5df5ff;
}

.item_text {
    font-size: 15px;
    color: #58dee7;
    margin-left: 10%;
}

.friends_check {
    width: 23px;
    height: 23px;
    margin-left: 30%;
}
.line1{
    margin: auto;
    width: 288px;
    height: 1px;
    background: #1c696e;
}
.button{
    width: 295px;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel{
  width: 100px;
  height: 44px;
  border-radius: 4px;
  background: #0c4565;
  color: #fff;
  font-size: 15px;
  border: 0;
}
.define {
	width: 100px;
	height: 44px;
	border-radius: 4px;
	background: #009aea;
	color: #fff;
	font-size: 15px;
	border: 0;
}