.task_bg {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 15px;
	width: 84%;
	height: 230px;
	margin:20px auto;
	border-radius:10px;
	padding:20px  15px;
	box-shadow: 0px 0px 24px #01ffff inset
}

.rules_remind {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.rules {
	width: 19px;
	height: 19px;
}

.remind {
	display: flex;
	width: 80px;
	height: 24px;
	background: #009aea;
	border-radius: 12px;
}

.remind img {
	width: 12px;
	height: 12px;
	margin-top: 5px;
	margin-left: 6px;
}

.remind text {
	font-size: 14px;
	color: #fff;
	margin: auto;
}

.task_name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #5df5ff;
	font-weight: bold;
	margin-top: 23px;
}

.countdown_bonus {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
}

.countdown {
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-between;
	align-items: center;
	/*justify-content: center;*/
	/*width: 140px;*/
}

.countdown_wb {
	font-size: 15px;
	color: #5df5ff;
	/*width: 100%;*/
	text-align: center;
}

.countdown_time {
	font-size: 24px;
	color: #03fff0;
	/*width: 100%;*/
	text-align: center;
	margin-top: 0px;
}

.line {
	width: 1px;
	height: 80px;
	background: #05687e;
}

.bonus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 180px;
}

.bonus_wb {
	font-size: 15px;
	width: 100%;
	color: #5df5ff;
	text-align: center;
}

.bonus_amount {
	font-size: 24px;
	color: #03fff0;
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

.awards_bonus {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

.awards_bonus .box_bg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 42.66%;
	height: 160px;
	border-radius: 8px;
	box-shadow: 0px 0px 17px #01ffff inset;
	margin: 15px;
	line-height: 15px;
	font-size: 14px;
	color: #03fff0;
}

.awards_icon {
	width: 37px;
	height: 43px;
}

.awards_wb {
	font-size: 15px;
	color: #5df5ff;
	margin-top: 10px;
}

.awards_amount {
	font-size: 24px;
	color: #03fff0;
	margin-top: 22px;
}

.bonus_icon {
	width: 43px;
	height: 43px;
}
.tips{
	margin-top: 20px;
	margin: auto;
	width: 92%;
	color: #58dee7;
	font-size: 16px;
}