.season_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    width: 84%;
    border-radius: 6px;
    padding: 0.9375rem;
    margin: auto;
    margin-top: 15px;
    margin-left: 4%;
    box-shadow: 0px 0px 12px #01ffff inset
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.season_gz {
    /*margin-left: 16px;*/
    width: 1.25rem;
    height: 1.25rem;
}

.season_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    color: #5df5ff;
    width: 68vw;
}

.season_gold {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-right: 16px;*/
}

.season_gold img {
    width: 1rem;
    height: 1rem;
}

.season_gold text {
    color: #5df5ff;
    font-size: 0.875em;
    margin-left: 4%;
}

.news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
}

.news_imgs {
    width: 1rem;
}

.news_container {
    font-size: 0.8em;
    width: 76vw;
    color: #5df5ff;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 2%;
    white-space: nowrap;
    line-height: 1em;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    border-radius: 6px;
    margin: 8px auto;
    padding: 0.9375rem;
    box-shadow: 0px 0px 12px #01ffff inset
}

.txicon {
    width: 60px;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -34%;
}

.title {
    font-size: 0.9375em;
    color: #5df5ff;
}

.line {
    width: 60px;
    height: 1px;
    background: #5df5ff;
    margin-top: 6px;
}

.jiangjin {
    font-size: 0.8125em;
    color: #5df5ff;
    margin-top: 3px;
}

.right {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.guanqia_gold {
    display: flex;
    align-items: center;
}

.guanqia_gold img {
    width: 16px;
    height: 16px;
}

.guanqia_gold text {
    color: #5df5ff;
    font-size: 0.9375em;
    margin-left: 4%;
}

.guanqia_xxbg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 23px;
    background: #06b7cd;
    border-radius: 11px;
    margin-top: 15px;
}

.guanqia_xxbg img {
    width: 16px;
    height: 15px;
}

.rollBox {
    overflow-y: auto;
    height: 26em;
}

.grdz_sbg {
    position: relative;
    width: 30px;
    height: 166px;
    left: 45%;
    bottom: 0px;
    margin-top: 40px;
}

.notReached {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7));
    z-index: 99;
    border-radius: 8px;
}

.zzbg {
    position: relative;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7));
    width: 88%;
    height: 70px;
    margin-left: 6%;
    left: 0px;
    padding-bottom: 20px;
    margin-top: -98px;
}