.personal_info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 1.5rem;
}

.info_box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 3.5625rem;
	height: 3.5625rem;
	margin-left: 4%;
	background: url(../imgs/userinfo_box.png);
	background-size: 100% 100%;
}

.info {
	width: 2.4375rem;
	height: 2.4375rem;
}

.right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 23.2%;
	margin-top: -3.6rem;
}

.nick-name {
	color: #5df5ff;
	width: 20vw;
	font-size: 0.8em;
}

.news {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	margin-left: 4%;
}

.news_imgs {
	width: 1rem;
	margin-top: 0.1rem;
}

.news_container {
	font-size: 0.8em;
	width: 52vw;
	color: #5df5ff;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 2%;
	white-space: nowrap;
	line-height: 1em;
	margin-top: 0.08rem;
	margin-right: 4%;
}

.integral_bg {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 34.13%;
	height: 1.75rem;
	margin-top: 0.8rem;
	margin-left: 23.2%;
	background: url(../imgs/jf_bg.png);
	background-size: 100% 100%;
}

.integral_icon {
	width: 1.375rem;
}

.integral_wb {
	font-size: 0.8em;
	color: #f8df60;
	margin-left: 20%;
}

.rate_bg {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 34.13%;
	height: 1.75rem;
	margin-top: 0.8rem;
	margin-right: 4%;
	background: url(../imgs/jf_bg.png);
	background-size: 100% 100%;
}

.integral_icon {
	width: 1.375rem;
}

.integral_wb {
	font-size: 0.8em;
	color: #f8df60;
	/*margin-left: 20%;*/
}

.main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	margin-top: 1.6rem;
}
.main1 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.fight {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 41.06%;
	height: 10.84rem;
	margin-left: 4%;
	background: url(../imgs/sy_dbg.png);
	background-size: 100% 100%;
}

.fight_wb {
	color: #5df5ff;
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 0.6rem;
}

.fight_icon {
	width: 4rem;
}

.ranking {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 41.06%;
	height: 10.84rem;
	margin-right: 4%;
	background: url(../imgs/sy_dbg.png);
	background-size: 100% 100%;
}

.ranking_icon {
	width: 4rem;
}

.ranking_wb {
	color: #5df5ff;
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 0.5rem;
}

.exercise {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 38.4%;
	margin-top: -2rem;
	flex-wrap: wrap;
	width: 24%;
	height: 6.375rem;
	background: url(../imgs/sy_xbg.png);
	background-size: 100% 100%;
}

.exercise_wb {
	color: #5df5ff;
	font-weight: bold;
	font-size: 0.9em;
	margin-bottom: 0.13rem;
}

.exercise_icon {
	width: 2.6875rem;
}

.melee {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 41.06%;
	height: 10.84rem;
	margin-left: 4%;
	margin-top: -2rem;
	background: url(../imgs/sy_dbg.png);
	background-size: 100% 100%;
}

.melee_wb {
	color: #5df5ff;
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 0.3rem;
}

.melee_icon {
	width: 4.375rem;
}

.exam {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 41.06%;
	height: 10.84rem;
	margin-right: 4%;
	margin-top: -2rem;
	background: url(../imgs/sy_dbg.png);
	background-size: 100% 100%;
}

.exam_wb {
	color: #5df5ff;
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 0.3rem;
}

.exam_icon {
	width: 3.375rem;
}

.personal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 38.4%;
	margin-top: -2rem;
	flex-wrap: wrap;
	width: 24%;
	height: 6.375rem;
	background: url(../imgs/sy_xbg.png);
	background-size: 100% 100%;
}

.personal_wb {
	color: #5df5ff;
	font-weight: bold;
	font-size: 0.9em;
	margin-bottom: 0.13rem;
}

.personal_icon {
	width: 2.6875rem;
}

.review {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 41.06%;
	height: 10.84rem;
	margin-left: 4%;
	margin-top: -2rem;
	background: url(../imgs/sy_dbg.png);
	background-size: 100% 100%;
	margin-bottom: 1.6rem;
}

.review_wb {
	color: #5df5ff;
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 0.3rem;
}

.review_icon {
	width: 3.875rem;
}

.qidai {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 41.06%;
	height: 10.84rem;
	margin-right: 4%;
	margin-top: -2rem;
	background: url(../imgs/sy_dbg.png);
	background-size: 100% 100%;
	margin-bottom: 1.6rem;
}

.qidai_wb {
	color: #5df5ff;
	font-weight: bold;
	font-size: 1.6rem;
	margin-bottom: 0.3rem;
}