.tab {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	flex-basis: 8%;
	width: 100%;
	flex-shrink: 0;
	height: 60px;
	margin-top: 20px;
}

.tab div {
	line-height: 40px;
	height: 40px;
	background: #014b81;
	color: #fff;
	width: 30%;
}
.tab .left {
	border-radius: 8px 0 0 8px;
}

.tab .right {
	border-radius: 0 8px 8px 0;
}

.tab .on {
	background: #5df5ff;
	color: #060030;
}
.item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 15px;
  width: 85%;
  margin-bottom: 15px;
  margin-left: 4%;  
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0px 0px 12px #01ffff inset;
}
.exam_time{
  font-size: 0.75rem;
  color: #58dee7;
}
.subject{
  font-size: 0.9rem;
  color: #fff;
  margin-top: 10px;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 5px;
}
.continue_time{
  font-size:0.75rem;
  color: #58dee7;
}
.see_results{
  width: 80px;
  height: 24px;
  background: #009aea;
  font-size: 12px;
  color: #fff;
  border-radius: 12px;
  line-height: 23px;
  text-align: center;
  float: right;
  margin-right:-5%;
  border:0;
}
.see_wrong{
  width: 80px;
  height: 24px;
  background: #03fff0;
  font-size: 12px;
  color: #0b0044;
  border-radius: 12px;
  line-height: 23px;
  text-align: center;
  /*margin-right:5px;*/
  border:0;
  float: right;
}
.join_now{
  width: 80px;
  height: 24px;
  background: #009aea;
  font-size:12px;
  color: #fff;
  border-radius: 12px;
  line-height:23px;
  text-align: center;
  margin-right: 5px;
  border:0;
}
.not_join_now{
  width: 80px;
  height: 24px;
  background: #004d75;
  font-size: 12px;
  color: #9cb3be;
  border-radius: 12px;
  line-height: 23px;
  text-align: center;
  margin-right: 5px;
  border:0;
}

.on {
      color: #060030;
      background: #5df5ff;
}
.rollBox {
	overflow-y:auto;
	height:32em;
}