movie_in
/* CSS Document */


/****共用样式****/

@charset"utf-8";

/****首页样式****/

.tabid {
	width: 98%;
	padding: 0px 1%;
}

.title {
	line-height: 35px;
}

.title a {
	color: #959595;
}

.all_movie {
	width: 100%;
	text-align: center;
}

.movie {
	position: relative;
	text-align: center;
	margin: 0px 1px 15px 1px;
	display: inline-block;
	width: 140px;
	vertical-align: top;
}

.poster {
	background-color: rgba(0, 0, 0, 0.4);
	height: 64px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 2;
	width: 140px;
	color: #FFFFFF;
	text-align: center;
	margin: 0px;
}

.poster p {
	width: 134px;
	line-height: 30px;
}

.tag {
	background: url(../images/tag.png) no-repeat;
	background-size: 55px 56px;
	width: 55px;
	height: 56px;
	position: absolute;
	right: -2px;
	top: -2px;
	text-align: center;
	line-height: 17px;
	text-shadow: 0px 1px 0px #fff Inset;
	color: #658413;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}

.tag_wz {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform-origin: center center;
	margin-left: 15px;
	margin-top: 12px;
}

.more {
	width: 100%;
}


/****TAB4菜单样式****/

.tabid_w {
	width: 100%;
	padding: 0px;
	margin-top: 15px;
}

.ticket_in {
	width: 94%;
	background-color: rgba(83, 83, 83, 0.4);
	border-bottom: 1px solid #000;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	box-shadow: 0px 1px 0px #6a6a6a Inset;
	padding: 0 3%;
	margin-top: 15px;
	text-align: left;
	line-height: 20px;
	color: #c0c0c0;
	text-shadow: 1px 1px 0px #000;
}

.ticket_in label {
	width: 100%;
	height: 40px;
	display: block;
	line-height: 40px;
}

.ticket_in label img {
	margin-top: 10px;
}

.ticket_ti {
	width: 100%;
	line-height: 35px;
}

.photo {
	width: 100%;
	text-align: center;
}

.photo img {
	border: 2px solid #4dbac0;
	border-radius: 10px;
}


/****TAB2菜单样式****/

.cinema {
	width: 94%;
	background-color: rgba(83, 83, 83, 0.4);
	border-bottom: 1px solid #000;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	box-shadow: 0px 1px 0px #6a6a6a Inset;
	padding: 0 3%;
	text-align: left;
	line-height: 20px;
	color: #c0c0c0;
	text-shadow: 1px 1px 0px #000;
}

.cinema label {
	width: 100%;
	height: 40px;
	display: block;
	line-height: 40px;
}

.cinema label img {
	margin-top: 10px;
}

.cinema_in .cinema_list {
	width: 94%;
	background-color: rgba(83, 83, 83, 0.2);
	border-top: 1px solid #404040;
	border-bottom: 1px solid #1a1a1a;
	padding: 0 3%;
	text-align: left;
	color: #c0c0c0;
	text-shadow: 1px 1px 0px #000;
	height: 40px;
	line-height: 45px;
}

.cinema_wz {
	width: 150px;
	line-height: 40px;
}

.cinema_icon {
	margin-top: 5px;
}

.cinema_icon li {
	margin-left: 5px;
}


/****TAB3菜单样式****/

.activity {
	background-color: rgba(83, 83, 83, 0.4);
	border-bottom: 1px solid #000;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	box-shadow: 0px 1px 0px #6a6a6a Inset;
	margin: 0px 3%;
	padding: 8px;
	color: #c0c0c0;
	position: relative;
	margin-bottom: 15px;
}

.activity_wz {
	width: 100%;
	height: 25px;
	line-height: 35px;
	display: -webkit-box;
}

.activity .tag {
	background: url(../images/tag_1.png) no-repeat;
	background-size: 55px 56px;
	width: 55px;
	height: 56px;
	position: absolute;
	left: 8px;
	top: 8px;
	text-align: center;
	line-height: 23px;
	color: #658413;
	font-size: 14px;
	text-shadow: 0px;
}

.activity .tag_wz {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform-origin: center center;
	margin-left: -13px;
	margin-top: 9px;
}

.w1 {
	text-align: left;
	display: block;
	-webkit-box-flex: 1;
}

.w2 {
	width: 32px;
	text-align: right;
}