.question {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: -25px;
}

.question img {
	width: 80.8%;
	height: 192px;
}

.question text {
	font-size: 15px;
	color: #58dee7;
	width: 62vw;
	/*white-space: wrap;*/
	line-height: 24px;
	height: 192px;
	margin-top: -165px;
}

.countdown {
	margin: auto;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #042338;
	border: 5px solid #02a8c0;
	font-size: 28px;
	color: #01fff1;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	margin-top: 20px;
	z-index: 102;
}

.answer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-top:-10px;
}

.options {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin:20px;
	width: 88%;
}

.options img {
	width: 92%;
	height: 52px;
}

.options text {
	text-align: center;
	width: 80%;
	font-size: 15px;
	color: #fff;
	margin-top: -35px;
}

.submit_button {
	display: flex;
	justify-content: center;
	width: 92%;
	height: 44px;
	color: #0b0044;
	background: #03fff0;
	margin-top: 10px;
}

.buttons {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin:20px;
}

.buttons img {
	width: 92%;
	height: 52px;
}

.buttons text {
	width: 85%;
	font-size: 15px;
	color: #fff;
	margin-top: -35px;
	text-align: center;
}

.bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	background: rgba(0, 0, 0, 0.7);
	z-index: 103;
}

.assess_pass {
	display: flex;
	justify-content:center;
	flex-direction: column;
	margin:50% auto;
	align-items: center;
}
.top{
	display: flex;
	justify-content:space-around;
	align-items: center;
}
.assess_pass_wb {
	font-weight: bold;
	font-size: 24px;
/*	margin-left:36%;*/
	text-align: center;
	margin-left: 82px;
	color: #02fcee;
}

.close_icon {
	width: 13px;
	height: 11px;
    padding-left:72px;
	margin-top: 10px;
}

.assess_pass_bg {
	width: 280px;;
	height: 200px;
	margin-top: 3px;
}
.push {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}

.push text {
  font-size: 16px;
  color: #02fcee;
}
.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
}

.cancel{
  width: 100px;
  height: 44px;
  border: 1px solid #02fcee;
  border-radius: 4px;
  background: #093751;
  color: #02fcee;
  font-size: 15px;
}
.define{
  width: 100px;
  height: 44px;
  border-radius: 4px;
  background: #009aea;
  color: #fff;
  font-size: 15px;
  margin-left: 24px;
  border: 0;
}