.subject_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	width: 84%;
	margin: 20px auto;
	border-radius: 6px;
	padding: 15px;
	box-shadow: 0px 0px 10px #01ffff inset
}

.subject_icon {
	width: 45px;
	height: 45px;
}

.subject_text {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: -10%;
}

.title {
	font-size: 16px;
	color: #5df5ff;
}

.add {
	font-size: 13px;
	color: #41cbd4;
	margin-top: 7px;
}

.lock {
	width: 26px;
	height: 34px;
}