.results_bg {
	flex-direction: column;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 45px auto;
	width: 315px;
	height: 463px;
	background: url(../imgs/cpjg_bg.png);
	background-size: 100% 100%;
}

.nishi_wb {
	font-size: 30px;
	color: #0fe;
	font-weight: bold;
	/* margin-top: -425px;*/
}

.degree {
	width: 205px;
	height: 64px;
	margin-top: 12px;
}

.sketch {
	font-size: 14px;
	color: #62ffff;
	margin-top: 45px;
	margin-left: -46px;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 25px;
}

.title {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	font-size: 14px;
	color: #62ffff;
	margin-bottom: 30px;
}

.progress {
	width: 183px;
	height: 19px;
	background: #045d6c;
	border-radius: 10px;
}