.content {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-wrap: wrap;
}
.title{
    background: #083758;
    width: 90%;
    height: 70px;
    font-size: 22px;
    color: #58dee7;
    line-height: 70px;
     margin-top: 20px ;
    border: 1px solid#21898f;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
.items{
    background: #062c46;
    width: 90%;
    height: 480px;
     overflow-y: auto;
    border: 1px solid#21898f;
    border-radius: 0px 0px 5px 5px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 84%;
    margin-top: 15px;
    /*margin-bottom: 15px;*/
    /*margin: auto;*/
    margin-left: 4%;
    border-radius: 6px;
    padding: 12px;
    box-shadow: 0px 0px 10px #01ffff inset
}
.item img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #5df5ff;
}

.itemDetail {
    display: flex;
    justify-content: space-between;
    color: #58dee7;
}

.itemDetail text {
    display: inline-block;
    margin: 5px;
    color: #58dee7;
}

