<nav class="navbar-default navbar-static-side" role="navigation" data-nav="{{ admin_nav }}">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <span class="block m-t-xs"> <strong class="font-bold">{{myuser.get("system","")}}</strong></span>
                        <img alt="image" class="img-circle" src="{{ static_url('img/default_avatar.png') }}">
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"> <strong class="font-bold">{{ myuser.get('username') }}</strong></span>
                            {% if myuser.get("role") == "admin" %}
                                <span class="text-muted text-xs block"> 超级管理员 <b class="caret"></b></span>
                            {% else %}
                                <span class="text-muted text-xs block"> 普通用户 <b class="caret"></b></span>
                            {% end %}
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/admin/logout">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    H+
                </div>
            </li>

            <li>
                <a href="/admin/sysusers"><i class="fa fa-user"></i> <span class="nav-label">用户管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href="/admin/users">用户列表</a></li>
                    {% if myuser.get('role') == "admin" %}
                    <li><a href="/admin/sysusers">系统用户</a></li>
                    <li><a href="/admin/permissions">权限管理</a></li>
                    {% end %}
                </ul>
            </li>

            <li>
                <a href="/admin/domains"><i class="fa fa-tags"></i> <span class="nav-label">域名管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href='/admin/domains'>域名列表</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/keywords"><i class="fa fa-film"></i> <span class="nav-label">关键词管理</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href="/admin/keywords">关键词列表</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/ip_pool"><i class="fa fa-th-large"></i> <span class="nav-label">IP池管理</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href=/admin/ip_pool>IP池列表</a></li>
                </ul>
            </li>
          
            <li>
                <a href="/admin/logings"><i class="fa fa-gear"></i> <span class="nav-label">日志管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href='/admin/operate/record'>操作记录</a></li>
                    <li><a href='/admin/landing/record'>登陆记录</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<script>
    $(function () {
        Load_Options();

        function Load_Options(){
            var op = $('nav').data("nav");
            var idx = parseInt(op/10);
            var idx2 = op%10-1;
            console.log("idx==",idx,idx2);

            var li = $('#side-menu').children('li').eq(idx);
            var liul = li.children("ul");
            liul.addClass("in");
            var ulli = liul.children("li").eq(idx2);

            ulli.addClass("active");
            li.addClass("active");
        }
    });

    $(function(){
        // $.ajax({
        //     url:'/ajax/region/find',
        //     type:'post',
        //     data:{'_xsrf':$("input[name='_xsrf']").val()},
        //     success:function (data) {
        //         var json = $.parseJSON(data);
        //         // var val = Object.values(json);
        //         // console.log(json,typeof json);
        //         var xhtml = "";
        //         for (var i = 0; i < json.length; i++){
        //             var html = "";
        //             // html += "<li><a href=\"/admin/stores\">"+json[i].region+"</a></li>";
        //             // console.log("title===>>",i,json.length,json[i].region)
        //             html += "<li><a class=\"c1\" href=\"#\"><span class=\"nav-label\">"+json[i].region+"</span> <span class=\"fa arrow\"></span></a>";
        //
        //             var arr = json[i].store1;
        //             // console.log("arr==",arr,arr.length);
        //             if (arr.length!=0){
        //                 html += "<ul class=\"nav nav-second-level collapse \" aria-expanded=\"true\" style=\"height: 0px;\">";
        //                 for (var j = 0; j < arr.length; j++) {
        //                     var strd = "";
        //                     var strd = arr[j]._id;
        //                     // console.log("666==>", strd,arr[j].title);
        //                     // console.log("888==>", strd,arr[j]._id);
        //                     var url = "";
        //                     url = url+"/admin/stores/"+arr[j]._id;
        //                     // console.log(url,typeof url);
        //                     html += "<li name=\"n2\" style=\"padding-left: 22px;\"><a href='"+url+"'>" + arr[j].title + "</a></li>";
        //                 }
        //                 html += "</ul>";
        //             }
        //             html += "</li>";
        //             xhtml = xhtml+html;
        //             // console.log("xhtml==",xhtml);
        //         }
        //         $("#store").html(xhtml);
        //     },
        //     error:function (XMLHttpRequest, textStatus, errorThrown) {
        //         console.log(XMLHttpRequest.status);
        //         console.log(XMLHttpRequest.readyState);
        //         console.log(textStatus);
        //     }
        // });
        //
        // setTimeout(function(){
        //     $("#store li ul li a").each(function(i,item){
        //         var title = $("#wrapper").data("dt");
        //         var a = $(this).html();
        //         // console.log("a===",a);
        //         if(a==title){
        //             $(this).parent().parent().addClass("in");
        //             $(this).parent().addClass("active");
        //             var b = $(this).parent().parent().parent().addClass("active");
        //             // console.log(b)
        //         }
        //     });
        //
        //     $("#store li .c1").each(function(i,item){
        //         var title = $("#wrapper").data("dt");
        //         var a = $(this).children(":first").html();
        //         // console.log("++++++++",555,a,title);
        //         if(a==title){
        //             var liul = $(this).next("ul");
        //             var result = liul.hasClass("in");
        //             if (result){
        //                 liul.removeClass("in");
        //             }
        //             else{
        //                 liul.addClass("in");
        //             }
        //         }
        //     })
        // },100);

        $("#store").on("click",".c1",function(){
            // console.log("------");
            var a = $(this).children(":first").html();
            // console.log("a===",a);
            window.location.href="/admin/store?region="+a;
            var liul = $(this).next("ul");
            var result = liul.hasClass("in");
            if (result){
                liul.removeClass("in");
            }
            else{
                liul.addClass("in");
            }
        });

        $("#store").on("click","li[name=n2]",function(){
            // console.log("==================================");
            $(this).addClass("active");
            $(this).parent().parent().addClass("in");
            $(this).parent().parent().addClass("active");
        })
         
    });
</script>

