<nav class="navbar-default navbar-static-side" role="navigation" data-nav="{{ admin_nav }}">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span class="block m-t-xs"> <strong class="font-bold">广告推送平台</strong></span>
                    <span>
                        <span class="block m-t-xs"> <strong class="font-bold">{{myuser.get("system","")}}</strong></span>
                        <img alt="image" class="img-circle" src="{{ static_url('img/default_avatar.png') }}">
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"> <strong class="font-bold">{{ myuser.get('userid') }}</strong></span>
                            {% if myuser.get("role") == "admin" %}
                                <span class="text-muted text-xs block"> 超级管理员 <b class="caret"></b></span>
                            {% else %}
                                <span class="text-muted text-xs block"> 普通用户 <b class="caret"></b></span>
                            {% end %}
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <!--<li><a href="#">修改头像</a></li>-->
                        <!--<li><a href="#">个人资料</a></li>-->
                        <!--<li><a href="#">联系我们</a></li>-->
                        <!--<li><a href="#">信箱</a></li>-->
                        <!-- <li class="divider"></li> -->
                        <li><a href="/admin/logout">安全退出</a></li>
                    </ul>
                </div>
                <div class="logo-element">H+</div>
            </li>

            <li>
                <a href="#"><i class="fa fa-home"></i> <span class="nav-label">记录管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href='/admin/login/record'>登陆记录</a></li>
                    <li><a href='/admin/push/select'>推送记录</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/sysusers"><i class="fa fa-user"></i> <span class="nav-label">用户管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href="/admin/users">用户列表</a></li>
                    <li><a href="/admin/sysusers">系统用户</a></li>
                </ul>
            </li>

            <li>
                <a href=/admin/permissions"><i class="fa fa-tags"></i> <span class="nav-label">权限管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href="/admin/permissions">权限列表</a></li>
                </ul>
            </li>



            <li>
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">商品管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href=/admin/shops>商品列表</a></li>
                    <li><a href=/admin/orders>订单列表</a></li>
                </ul>
            </li>
          
            <li>
                <a href="#"><i class="fa fa-gear"></i> <span class="nav-label">系统公告</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href="/admin/notices">公告列表</a></li>
                    <li><a href="/admin/schedules">下发任务列表</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


