{% extends "base.html" %}
{% block title %}内容管理{% end %}
{% block content %}
<script type="text/javascript" src="{{ static_url('plupload/js/plupload.full.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('ueditor/ueditor.config.js') }}"></script>
<script type="text/javascript" src="{{ static_url('ueditor/ueditor.all.js') }}"></script>
<script type="text/javascript" src="{{ static_url('ueditor/ueditor.parse.js') }}"></script>
<script type="text/javascript" src="{{ static_url('ueditor/lang/zh-cn/zh-cn.js') }}"></script>
<!--<script type="text/javascript" src="{{ static_url('kindeditor-4.1.11/kindeditor-all.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ static_url('kindeditor-4.1.11/kindeditor-all-min.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ static_url('kindeditor-4.1.11/lang/zh-CN.js') }}"></script>-->
<script>
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor', {
        initialFrameHeight: 300,
        initialFrameWeight: 100,
        // toolbars: [
        //      ['fullscreen', 'source', 'undo', 'redo', 'bold']
        //
        // ],
    });
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function(action) {
        if (action == 'uploadimage' || action == 'uploadvideo' || action == 'uploadscrawl') {
            return '/admin/media/upload?action='+action;
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    };
    //初始化编辑器 （该处用于设置编辑器回显值）
    ue.ready(function () {
        ue.setContent("我是初始内容...");
    });
</script>
<!--<script type="text/javascript">-->
    <!--KindEditor.ready(function (K) {-->
        <!--window.editor = K.create('#detail', {-->
            <!--resizeType : 1,-->
            <!--allowPreviewEmoticons : false,-->
            <!--allowImageUpload : false,-->
            <!--allowFileManager: true,-->
            <!--minWidth:"600px",-->
            <!--width: '680px',-->
            <!--height: '320px',-->
            <!--imageSizeLimit : '2MB', //批量上传图片单张最大容量-->
            <!--imageUploadLimit : 32,  //批量上传图片同时上传最多个数-->
            <!--resizeType: 0,       //2时可以拖动改变宽度和高度，1时只能改变高度，0时不能拖动。-->
            <!--uploadJson: K.undef('/kindeditor_upload_json'),-->
            <!--extraFileUploadParams: {-->
                <!--_xsrf: $("input[name='_xsrf']").val(),-->
            <!--},-->
             <!--items : [-->
				<!--'fontname', 'fontsize', '|', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',-->
				<!--'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',-->
				<!--'insertunorderedlist', '|', 'emoticons', 'image', 'link'],-->

            <!--afterFocus: function () {-->
            <!--},-->
            <!--afterBlur: function () {-->
                <!--if (editor.html() == '') {-->
                    <!--$('#detail').siblings(".showInfo").html('内容详情不能为空！');-->
                <!--} else {-->
                    <!--$('#detail').siblings(".showInfo").html('');-->
                <!--}-->
            <!--}-->
        <!--});-->
        <!--editor.html("<h3>Hello KindEditor</h3>");-->
    <!--});-->
<!--</script>-->

<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div id="wrapper">
    {% include 'admin_nav.html' %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            {% include 'header_nav.html' %}
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>内容管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin/home">主页</a>
                    </li>
                    <li>
                        <a>内容管理</a>
                    </li>
                    <li>
                        <strong>内容列表</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>内容列表
                                <small>共计：{{ count }}</small>
                                <div style="display:inline;">
                                <a href="/admin/study/contents?page={{ page-1 if page> 1 else 1 }}"><span>上一页</span></a>
                                {% if pages < 10 %}
                                {% for i in range(1,pages+1) %} <a href="/admin/study/contents?page={{i}}"><span>{{i}}</span></a>{% end %}
                                {% else %}
                                {% for i in range(1,10) %} <a href="/admin/study/contents?page={{i}}"><span>{{i}}</span></a>{% end %}
                                <a href="/admin/study/contents?page={{pages}}"><span>{{pages}}</span></a>
                                跳转<input id="pager" style="display:inline;width:26px;height:20px;" class="form-control" onpropertychange="JumpPage()" onblur="JumpPage()">页
                                {% end %}
                                <a href="/admin/study/contents?page={{ page+1 if page<pages else pages }}"><span>下一页</span></a>
                                </div>
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown"
                                   href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">选项1</a>
                                    </li>
                                    <li><a href="#">选项2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form action="javascript:;" method="post" name="login_form" id="login_form">
                                {% module xsrf_form_html() %}
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" class="i-checks" id="userListCheck"/></th>
                                        <!--<th>ID</th>-->
                                        <!--<th>编号</th>-->
                                        <th>标题</th>
                                        <th>分类</th>
                                        <th>标签</th>
                                        <th>简介</th>
                                        <th>状态</th>
                                        <th>详情</th>
                                        <th>发布人</th>
                                        <th>人物海报</th>
                                        <th>人物名称</th>
                                        <th>发布时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in contents %}
                                    <tr class="gradeX">
                                        <td><input type="checkbox" class="i-checks"></td>
                                        <td class="userListId">{{ i.get('_id') }}</td>
                                        <!--<td>{{ i.get('id') }}</td>-->
                                        <td><a href="/admin/study/content/{{ i.get('_id') }}">{{ i.get('title') }}</a></td>
                                        <td>{{ i.get('category') }}</td>
                                        <td>{{ i.get('tag') }}</td>
                                        <td>{{ i.get('brief')[:32] }}...</td>
                                        <td>{{ i.get('status') }}</td>
                                        <td>{{ i.get('content')[:32] }}...</td>
                                        <td>{{ i.get("userid") }}</td>
                                        <td>{{ i.get('img') }}</td>
                                        <td>{{ i.get('postname') }}</td>
                                        <td>{{ i.get('atime') }}</td>
                                    </tr>
                                    {% end %}
                                    </tbody>
                                </table>
                                <input type="submit" class="btn btn-w-m btn-primary delete1" value="删除选中"
                                       data-toggle="modal" data-target="#myModal6"/>
                                <input type="submit" class="btn new-btn-w-m btn-primary banner1" value="增加内容"
                                       data-toggle="modal" data-target="#myModal3"/>
                                <input type="submit" class="btn new_btn-w-m btn-primary import_data" value="Excel导入题目"
                                       data-toggle="modal" data-target="#myModal2"/>


                                <div class="modal inmodal fade" id="myModal4" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title">审核内容</h4>
                                                <small class="font-bold">删除创意</small>
                                            </div>
                                            <div class="modal-body">
                                                <p id="refuse1Content"></p>
                                            </div>
                                            <label>评语：<textarea name="refuse_comment" placeholder="请输入评语"></textarea>
                                            </label>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white refuse_activity"
                                                        data-dismiss="modal">确定
                                                </button>
                                                <button type="button" class="btn btn-primary cancel1"
                                                        data-dismiss="modal">取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title">审核内容</h4>
                                                {#  <small class="font-bold">删除创意</small>#}
                                            </div>
                                            <div class="modal-body">
                                                <p id="audit1Content">
                                                    <label>内容编号：</label>
                                                    <input readonly="readonly" class="form-control" type="text" id="_id">
                                                    <br/>
                                                    <label>内容名称：</label>
                                                    <input readonly="readonly" class="form-control" type="text" id="_name">
                                                    <input class="form-control" type="hidden" id="_status">
                                                    <label>审核结果：</label>
                                                    <select class="form-control" id="_result">
                                                        <option value="1">通过</option>
                                                        <option value="-1">不通过</option>
{#                                                        <option value="0">待定</option>#}
                                                    </select>
                                                    <br/>
                                                    <label>审核意见：</label>
                                                    <textarea class="form-control" rows="10" id="_opinion">
                                                    </textarea>
                                                </p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white audit_activity"
                                                        data-dismiss="modal">确定
                                                </button>
                                                <button type="button" class="btn btn-primary cancel1"
                                                        data-dismiss="modal">取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title">删除内容</h4>
                                                {#  <small class="font-bold">这里可以显示副标题。</small>#}
                                            </div>
                                            <div class="modal-body">
                                                <p class="ideaId"></p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white deleteActivity"
                                                        data-dismiss="modal">确定
                                                </button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal fade" id="myModal3" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title">新增学习内容</h4>
                                                <!--<small class="font-bold">这里可以显示副标题。</small>-->
                                            </div>
                                            <div class="modal-body">
                                                <p class="contentId">
                                                    <label>内容标题：</label>
                                                    <input class="form-control" placeholder="不多于32个字" name="title" id="title">
                                                    <p class="showInfo"></p>

                                                    <label>内容简介：</label>
                                                    <textarea class="form-control" name="brief" id="brief" cols=5 rows=5 placeholder="不多于256个字"></textarea>
                                                    <p class="showInfo"></p>

                                                    <label>上传图片：</label>
                                                    <a class="btn new_btn-w-m btn-primary" href="javascript:void(0);" id="index_image" name="index_image">上传图标
                                                        <span id="Progress2" style=" opacity: 0.6;z-index:10; position: absolute; bottom: 0; left: 0; height: 100%; width: 0%; display: block; background-color: #003399"></span>
                                                    </a>
                                                    <input type="text" name="image" id="image_url" style="display: none">
                                                    <span>支持jpg、jpeg、png、gif格式，大小不超过2M.建议尺寸：16X16</span>
                                                    <img id="poster" src="" style="margin-top: 10px;max-width: 400px;width: 100%;">
                                                    <p class="showInfo"></p>

                                                    <label>上传视频：</label>
                                                    <input type="text" name="video_url" id="video_url" style="display: none">
                                                    <button class="btn new_btn-w-m btn-primary" href="#" id="video_upload_btn">上传视频
                                                        <span id="Progress" style=" opacity: 0.6;z-index:10; position: absolute; bottom: 0; left: 0; height: 100%; width: 0%; display: block; background-color: #003399"></span>
                                                    </button>
                                                    <span class="color-gray">支持AVI、wma、rmvb、rm、flash、mp4、mid、3GP等格式</span>
                                                    <video controls='controls' style="margin-top: 10px;max-width: 400px;width: 100%;">
                                                        <source src="" type='video/mp4' id="video">
                                                    </video>
                                                    <p class="showInfo"></p>

                                                    <label>内容详情：</label>
                                                    <script id="editor" type="text/plain" name="editor"></script>
                                                    <p class="showInfo"></p>

                                                    <!--<label>归属分类：</label>-->
                                                    <!--<select id="category" name="category" class="form-control" >-->
                                                        <!--{% for c in categories %}-->
                                                        <!--<option value="{{ c.get('title') }}">{{ c.get('title') }}</option>-->
                                                        <!--{% end %}-->
                                                    <!--</select>-->
                                                    <!--<p class="showInfo"></p>-->

                                                    <label>创建时间：</label>
                                                    <input class="form-control" placeholder="生效时间" id="begin" name="begin"
                                                           onclick="WdatePicker({lang:'zh-cn', dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                                                    <p class="showInfo"></p>

                                                    <label>视频点击量：</label>
                                                    <input class="form-control" placeholder="不多于32个字" name="reading" id="reading">
                                                    <p class="showInfo"></p>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white add_content"
                                                        data-dismiss="modal">确定
                                                </button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal fade" id="myModal2" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Excel导入题目</h4>
                                                {#  <small class="font-bold">这里可以显示副标题。</small>#}
                                            </div>
                                            <div class="modal-body">
                                                <p class="importqaId">
                                                    <input class="form-control" id="Excel" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                                    <div style="height:480px;overflow:auto;margin-top:20px;">
                                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox" class="i-checks" id="questionCheck"/></th>
                                                            <!--<th>ID</th>-->
                                                            <th>问题</th>
                                                            <th>答案</th>
                                                            <th>参考</th>
                                                            <th>难度</th>
                                                            <th>类型</th>
                                                            <th>专题</th>
                                                            <th>分值</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="questionlist">
                                                    </tbody>
                                                    </table>
                                                    </div>
                                                </p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white add_excel_question"
                                                        data-dismiss="modal">确定
                                                </button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">取消
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
$(function () {
    var trs = $("td[class='userListId']");
    for (i = 0; i < trs.length; i++) {
        trs[i].style.display = "none";
    }

    // editor.sync();
    var uploader_image  = new plupload.Uploader({
        browse_button: 'index_image',
        url: "/ajax/upload_image?path=study_img",
        filters: {
            max_file_size : '4mb',     // 最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
            prevent_duplicates : true,
            mime_types: [              // 允许文件上传类型
                {title: "files", extensions: "jpg,png,gif,jpeg"}
            ]
        },
        multipart_params: {
            '_xsrf': $("input[name='_xsrf']").val()
        },
        init:{
            FilesAdded:function(up, files) {        // 文件添加后立即上传
                plupload.each(files, function (file) {
                    uploader_image.start();
                });
            },
            UploadProgress: function(up, file) {    // 上传中显示进度条
                $('#Progress2').css('width', file.percent+'%');
            },
            FileUploaded:function(up, file, info) { // 上传内容图片
                var base = '/static/media/study_img/';
                var response = $.parseJSON(info.response);
                if (response.status == 'ok') {
                    $("#poster").show().attr("src", base + response.name);
                    $("#image_url").val(response.name);
                }
                else {alert(response.error);}
            },
            Error:function(up, errObject) {
                alert(errObject.code+errObject.message);
            },
        }
    });
    uploader_image.init();

    var uploader_video = new plupload.Uploader({//创建实例的构造方法
        runtimes: 'gears,html5,html4,silverlight,flash', //上传插件初始化选用那种方式的优先级顺序
        browse_button: ['video_upload_btn'], // 上传按钮
        url: "/ajax/upload_video?path=videos", //远程上传地址
        // flash_swf_url: 'js/plugins/plupload/Moxie.swf', //flash文件地址
        // silverlight_xap_url: 'js/plugins/plupload/Moxie.xap', //silverlight文件地址
        filters: {
            max_file_size: '1gb', //最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
            mime_types: [//允许文件上传类型
                {title: "files", extensions: "mpg,m4v,mp4,flv,3gp,mov,avi,rmvb,mkv,wmv"}
            ]
        },
        multipart_params: {
            '_xsrf': $("input[name='_xsrf']").val()
        },
        chunk_size: "50mb", //分片上传文件时，每片文件被切割成的大小，为数字时单位为字节。也可以使用一个带单位的字符串，如"200kb"。当该值为0时表示不使用分片上传功能
        multi_selection: false, //true:ctrl多文件上传, false 单文件上传
        init: {
            FilesAdded: function(up, files) { //文件上传前
                plupload.each(files, function (file1) {
                    uploader_video.start();
                });
            },
            UploadProgress: function(up, file) { //上传中，显示进度条
                $('#Progress').css('width', file.percent+'%');
            },
            FileUploaded: function(up, file, info) { //文件上传成功的时候触发
                var base = '/static/media/videos/';
                var response = $.parseJSON(info.response);
                if (response.status == 'ok') {
                    var url = "http://"+location.host+base + response.name;
                    $("#video").show().attr("src", url);
                    // console.log($("#video").parent());
                    $("#video").parent().get(0).load();
                    $("#video_url").val(url);
                }
                else {
                    alert(response.error);
                }
            },
            Error: function(up, errObject) { //上传出错的时候触发
                alert(errObject.code+errObject.message);
            }
        }
    });
    uploader_video.init();
});


    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    $(function () {
        var json1 = _alert('.btn.btn-w-m.delete1', '.modal-body .ideaId', '您要删除的内容ID为');
        var json2 = _alert('.btn.btn-w-m.audit1', '.modal-body #audit1Content', '将要审核通过的内容ID为');
        var json3 = _alert('.btn.btn-w-m.refuse1', '.modal-body #refuse1Content', '将要拒绝审核通过的内容ID为');

        json1['_xsrf'] = getCookie("_xsrf");
        json2['_xsrf'] = getCookie("_xsrf");
        json3['_xsrf'] = getCookie("_xsrf");

        $('.btn.btn-white.deleteActivity').click(function () {
            $.ajax({
                url: '/admin/study/content/delete',
                type: 'post',
                data: json1,
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    // alert('error');
                }
            });
        });

        $('.btn.btn-white.pass_activity').click(function () {
            json2['comment'] = $("textarea[name='comment']").val();
            $.ajax({
                url: '/admin/study/content/pass',
                type: 'post',
                data: json2,
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    alert('error');
                }
            });
        });

        $('.btn.btn-white.refuse_activity').click(function () {
            json3['refuse_comment'] = $("textarea[name='refuse_comment']").val();
            $.ajax({
                url: '/admin/study/content/refuse',
                type: 'post',
                data: json3,
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    alert('error');
                }
            });
        });

    });
</script>

<script>
    function audit_activity(obj,audit){
        var tds=$(obj).parent().parent().find('td');
        $("small.font-bold").each(function(){
            $(this).html(tds.eq(2).text());
        });

        $('#_id').val(tds.eq(1).text());
        $('#_name').val(tds.eq(2).text());
        $('#_status').val("online");

        if(undefined != audit){
            $('#_result').val(audit.result);
            $('#_opinion').val(audit.opinion);
        }else{
            $('#_result').val('1');
            $('#_opinion').val('');
        }

        $('#myModal5').modal('show');
    }

    $('.btn.btn-white.add_content').click(function () {
        if ($('#poster').attr('src') == '') {
            alert('您还未上传内容照片！');
            return false;
        }

        if ($('#title').val() == '') {
            alert("内容标题不能为空！");
            return false;
        }
        // console.log(ue.setContent(hello))
        var xjson = {
            "title": $("#title").val(),
            "brief": $("#brief").val(),
            "videourl" : $("#video_url").val(),
            // "content": window.editor.html(),
            // "content": ue.getContentTxt(),
            "content":ue.getContent(),
             "category": $("#category").val(),
            "tag" : $("#tag").val(),
            "image": $("#image_url").val(),
            "postname" : $("#postname").val(),
            "reading" : $("#reading").val(),
            '_xsrf': $("input[name='_xsrf']").val(),
        };
        $.ajax({
            url: '/admin/study/content/add',
            type: 'post',
            data: xjson,
            success: function (data) {
                var jsons = jQuery.parseJSON(data);
                alert(jsons.msg);
                if (jsons.status == "ok") {
                    location.reload();
                }
            },
            error: function () {
                alert('error');
            }
        });
    });
    $('.btn.btn-white.audit_activity').click(function () {
        var xjson = {
            "_xsrf":getCookie("_xsrf"),
            "oid":$('#_id').val(),
            "result":$('#_result').val(),
            "opinion":$('#_opinion').val(),
            "status":$('#_status').val()
        };

        $.ajax({
            url: '/admin/study/content/audit',
            type: 'post',
            data: xjson,
            success: function (data) {
                var json=$.parseJSON(data);
                alert(json.msg);
                if(json.status !="ok"){
                    return false;
                }

                window.location.reload();
            },
            error: function () {
                alert('error');
            }
        });
    });

</script>

<style>
    th:first-child,
    .gradeX td:first-child {
        width: 20px;
        cursor: pointer;
    }

    th:first-child input,
    .gradeX td:first-child input {
        cursor: pointer;
    }
</style>
{% end %}

