<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="{{ static_url('js/jquery-3.3.1.min.js') }}"></script>
		<link href="{{ static_url('css/login.css') }}" rel="stylesheet">
		<title>广东东贝供应链有限公司-登录界面</title>
	</head>

	<body>
		<form action="/login" method="post" name="login_form" id="login_form">
		<div class="login_bg flex flex-v flex-align-center flex-pack-center flex-align-center">
			<div class="company">
				<img class="logo" src="/static/images/logo.png" /><span class="company_name">广东东贝供应链有限公司</span>
			</div>
			<div class="login_xbg flex flex-v flex-align-center flex-pack-center">
				<p class="title">网站推送系统</p>
				<input type="hidden" id="url" name="url" value="{{ url }}">
				<input id="username" name="username" class="username" type="text" placeholder="请输入账号"/>
				<input id="password" name="password" class="password" type="password" placeholder="请输入密码"/>
				<p style="color:red;margin-top:-10px;">{{ error }}</p>
				<p class="jizhu_wb flex flex-pack-center"><input type="checkbox" class="jizhu"/>记住账号密码</p>
				<div class="flex flex-pack-center">
					<!--<button class="denglu" onclick="window.open('video.html');">登录</button>-->
					<button class="denglu">登录</button>
					<button class="chongzhi">重置</button>
				</div>
			</div>
			<!--<div class="line yzm" style="top: -5px;">-->
				<!--<input type="text" class="inputtxt Validform_error" name="code" nullmsg="请填写4位验证码" errormsg="验证码不对" datatype="*" placeholder="请填写验证码" style="width: 220px;">-->
				<!--<div class="Validform_checktip Validform_wrong">请填写4位验证码</div>-->
				<!--<img width="100" height="40" class="passcode" onclick="this.src=this.src.split('?')[0] + '?'+new Date().getTime()" src="http://112.74.30.14:8888/code?1585728833733" style="border: 1px solid #ccc; float: right;" title="点击换一张">-->
			<!--</div>-->
		</div>
		</form>
	</body>
</html>

<script>
    $(".denglu").click(function () {
        if ($('#account').val() == '') {
            alert("帐号不能为空");
            return false;
        }
        if ($('#passwd').val() == '') {
            alert('密码不能为空！');
            return false;
        }
        $("#login_form").submit();
    });
</script>
